body {
    background-color: white;
}

.button {
  background-color: red;
}

.bbutton {
  background-color: purple;
}
.bbutton hover {
  background-color: white;
}

.tie {
  background-color: orange
}

.loss {
  background-color: red
}

.win {
  background-color: green
}
